:root {
  font-family: Times New Roman;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

input {
    font-size: 1em;
    font-family: monospace;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
}

a { 
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.metatext {
    font-size: .8em;
    width: 100%;
    display: flex;
    gap: .5em;
}

